@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/css/site.css" rel="stylesheet" />
	<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" /> 
	<title>Home</title>
</head>
<body class="container bg-black bg-opacity-50">

	<img src="~/images/logo.png" class="logo" alt="logo" />
	<input type="button" value="Click Me" class="btn btn-danger" />

	<h1 class="h1">Hello there ....!! MiLTON </h1>
	<p>Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.</p>
</body>

<script src="~/lib/jquery/jquery.js"></script>

</html>

<script>
	$(document).ready(function() {
		alert("Page Hacked")
	});

</script>